:root {
  --color-primary: #FFFFFF;
  --color-bg: #343D4B;
  --color-primary-inverted: #000000;
  --color-bg-card: #272E37;
  --color-bg-main: #222831;
  --gradient: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
  --gradient-inverted: linear-gradient(256deg, rgba(144, 217, 224, 0.90) 9.04%, rgba(84, 96, 230, 0.90) 92.2%);
  --font: "Montserrat", sans-serif;


  
  
}

 body {
  font-family: var(--font);
  color: var(--color-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  display: grid;
  place-items: center;
  min-height: 100vh;
}


